{{ if .Site.Data.about.enable}}
{{"<!-- Start About Section -->" | safeHTML}}

<section>
    <div class="container" style="margin-top: 30px;" >
        <div class="video-container"  id="welcome_vid">
            <iframe width="600px" src="https://www.youtube.com/embed/RpLK8W9-_5g" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen >
            </iframe>
        </div>    
    </div>    
</section>

<section class="about section" id="about" style="padding: 30px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
               
            </div> 
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .Site.Data.about.aboutItem }}
            {{"<!-- About item -->" | safeHTML}}
            <div class="col-lg-12 text-center" >
                <div class="block">
                    <!-- <div class="icon-box">
                        {{with .icon}}<i class="{{ . }}"></i>{{ end }}
                    </div> -->
                    {{"<!-- Express About Yourself -->" | safeHTML}}
                    <div class="content text-center" >
<!--                         {{ with .title }}<h3 class="ddd">{{ . }}</h3>{{ end }} -->  
                        {{ with .content}} <p>{{ . }}</p>{{ end }}
                        {{ with .content_1}} <p>{{ . }}</p>{{ end }}
                        {{ with .content_2}} <p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
