{{ if .Site.Data.about.enable}}
{{"<!-- Start About Section -->" | safeHTML}}

<section>
    <div class="container" style="" >
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/RpLK8W9-_5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="560px" height="350px" allowfullscreen >
            </iframe>
        </div>    
    </div>    
</section>

<section>
    <div class="store-button-container" align="center">

        <div >
            <a href="/comingsoon/" >
            <img border="0" alt="Shamdo on AppleStore" src="images/store_btn/updateApp_Store_Badge_RU_RGB_blk_100317@5x-300x89.png" width="300" height="89">
            </a>
        </div>

        <div >    
            <a href="https://play.google.com/store/apps/details?id=com.KraiSoft.shamdo">
            <img border="0" alt="Shamdo on GooglePlay" src="images/store_btn/update_playgoogle-e1543420306297-300x89.png" width="300" height="89">
            </a>
        </div>

    </div>
</section>

<section class="about section" id="about" style="padding: 35px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
               
            </div> 
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .Site.Data.about.aboutItem }}
            {{"<!-- About item -->" | safeHTML}}
            <div class="col-lg-12 text-center" >
                <div class="block">
                    <!-- <div class="icon-box">
                        {{with .icon}}<i class="{{ . }}"></i>{{ end }}
                    </div> -->
                    {{"<!-- Express About Yourself -->" | safeHTML}}
                    <div class="content text-center" >
<!--                         {{ with .title }}<h3 class="ddd">{{ . }}</h3>{{ end }} -->  
                        {{ with .content}} <p>{{ . }}</p>{{ end }}
                        {{ with .content_1}} <p>{{ . }}</p>{{ end }}
                        {{ with .content_2}} <p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
