{{"<!-- Start Buttons Section -->" | safeHTML}}

<section>
    <div class="store-button-container" align="center">

        <div >
            <a href="https://apps.apple.com/app/shamdo/id1211545262" >
            <img border="0" alt="Shamdo on AppleStore" src="/images/store_btn/updateApp_Store_Badge_RU_RGB_blk_100317@5x-300x89.png" width="300" height="89">
            </a>
        </div>

        <div >    
            <a href="https://play.google.com/store/apps/details?id=com.KraiSoft.shamdo">
            <img border="0" alt="Shamdo on GooglePlay" src="/images/store_btn/update_playgoogle-e1543420306297-300x89.png" width="300" height="89">
            </a>
        </div>

    </div>
</section>

{{"<!-- /Buttons -->" | safeHTML}}
